.image{
 position: relative;
 bottom: 380px;
}
.text-right{
    position: relative;
    bottom: 820px
}
.foot{
    height: 400px;
    position: relative;
    bottom:800px ;
}
.end{
    position: relative;
    bottom: 750px;
}
